.q1{
    background-image: url(https://gigaland.io/images/background/8.jpg);
    padding-top: 40px;
}
.nav-link{
    color: white;
    font-weight: 700;
}
.form-control{
    color: white;
    font-weight: 700;
}
.btn{
    color: white;
    font-weight: 700;
    padding: 5px 20px;
    background-color: #8364E2;
    border-radius: 25px;
}
.navbar-nav{
    margin-left: 200px;
}
.q3{
    color: white;
    font-weight: 700;
    padding: 8px 25px;
    background-color: #20365D;
    border-radius: 25px;
    margin-left: 50px;
    text-decoration: none;
}
.q6{
    color: #8364E2;
    font-weight: 600;
}
.q7{
    color: white;
    font-weight: 700;
    font-size: 35px;
}
.q3{
    color: #A2A2A2;
    font-weight: 600;
}
.q9{
    color: white;
    font-weight: 800;
}